/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fc;
  color: #333;
  line-height: 1.6;
}

/* Header area */
header {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #222;
  color: white;
}
#headerLink {
  text-decoration: none;
}

#headerLink:visited,
#headerLink:active ,
#headerLink:focus {
  color: white;
  
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
  color: #bbb;
}

/* Navigation bar */
.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.nav a{
  color: #4FC3F7;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, color 0.3s, margin 0.4s ease-in-out;

}

.nav a:hover {
  transform: scale(1.5) ;
  color: #73d0fc;
  margin: 0 15px;
}

/* Section spacing */
main section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  margin-top: 0px;
  color: #fff;
  background-color: #222;
  height: 400px;
}
#social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 20px;
}
#social-links a img{
  margin: 10px;
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease-in-out, margin 0.2s ease-in-out;
}
#social-links a img:hover{
  transform: scale(1.5);
  margin: 0 15px;
}

@media (max-width: 700px) {
  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }

  .nav a {
    font-size: 0.9rem;
  }
  .nav a:hover{
    transform: scale(1) ;
    margin: 0;
  }

  main section {
    padding: 15px;
  }
}